<a href="https://colab.research.google.com/github/eshithagedda/python-SEM-2/blob/module2/dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [ ]:
tuple=(2,4,3)
tuple3=tuple1*2
print(tuple3)

NameError: ignored

In [ ]:
placement={
    "name":str(input("Enter your name: ")),
    "age":int(input("Enter your age: ")),
    "cgpa":float(input("Enter your CGPA: ")),
    "section":str(input("Enter your section: ")),
    "phone number":int(input("Enter your mobile number: "))
}
x=placement.get("section")
print(x)

Enter your name: e
Enter your age: 4
Enter your CGPA: 5
Enter your section: w
Enter your mobile number: 3
w

In [ ]:
placement={
    "name":str(input("Enter your name: ")),
    "age":int(input("Enter your age: ")),
    "cgpa":float(input("Enter your CGPA: ")),
    "section":str(input("Enter your section: ")),
    "phone number":int(input("Enter your mobile number: "))
}
placement["year of passing out"]=int(input("Enter the year of your passing out: " ))
print(x)

Enter your name: e
Enter your age: 18
Enter your CGPA: 9
Enter your section: se
Enter your mobile number: 8
Enter the year of your passing out2025
w

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}