<a href="https://colab.research.google.com/github/eshithagedda/python-SEM-2/blob/module2/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def func():
  print("hi")
  print("hello")
  print("weeeee")
func()

hi
hello
weeeee

In [ ]:
def food(name):
  print(name +" "+ "dinner")
food("chicken")

chicken dinner

In [ ]:
def details():
   print("name=",name, "age=",age, "gender=", gender)
name=str(input("enter your name: "))
age=int(input('enter your age: '))
gender=str(input("enter your gender: "))
if age>= 18:
  print('--CAN VOTE--')
else:
  print("--CAN NOT VOTE--")
details()

enter your name: E
enter your age: 18
enter your gender: F
--CAN VOTE--
name= E age= 18 gender= F

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

PYTHON BUILT IN FUNCTIONS

In [ ]:
x=abs(-25)
print(x)

25

In [6]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [5]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [4]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [3]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [2]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [1]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21