<a href="https://colab.research.google.com/github/eshithagedda/python-SEM-2/blob/module3/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

In [ ]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas
rest={
    'Buffet':['VEG','NON-VEG'],
    'Passings':['veg biryani','non-veg biryani']
}

a=pandas.DataFrame(rest)
print(a)

    Buffet         Passings
0      VEG      veg biryani
1  NON-VEG  non-veg biryani

In [ ]:
import pandas 
rest=pandas.read_csv('excelfilepath.csv') #use .csv extension to save the excel file
print(rest.to_string())